<a href="https://colab.research.google.com/github/ShyamNaidu243/Study_Materials/blob/main/Pyhton_Learning_Notes_Shyam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**What is Python?**

A. High Level Programming Language

B. General Purpose Programming Language

C. OOP's

D. Dynamically Typed

E. Interpreted Programming Language

**Numerical Data Types in Python**

There are 3 types of numerical types they are:

1. **int:**
      A whole number without any decimal point which is either positive or negative .

For example: 1,2,3,-4,-6453 etc.

2. **float:** A number with decimal points which is either postivie or negative.

For example : 2.1, -2.1 etc

  3.   **Complex:** A real number with its imaginary part.

For example 3+2j , -5+13j etc.

where  3 is real part and 2j is imaginary part

### **Types of Errors**


*   Syntax Errors
*   Logical Errors

**Syntax Error:**
if you break rules of a Programming Language the you will rise Syntax Error

For Example:

    int x =
    print(x)
This rises Syntax Errors

**Logical Error:**
None other than syntax error all the other errors will be Logical Errors

For example: ArrayIndexOutOfBound, EndOfFIle, EndOfLine etc.

# **Arithematic Operators**


1.   Addition
```
print(5 + 10)
print(type(5+10))
```
2.   Multiplication
```
print(5 * 10)
print(type(5+10))
```
3.   Division
```
print(5 / 10)
print(type(5+10))
```
4.   Subtraction
```
print(5 - 10)
print(type(5+10))
```
5.   Exponential
```
print(5 ** 10)
print(type(5+10))
```
6.   Floor Division
```
print(5 // 10)
print(type(5+10))
```
7.   Modulus
```
print(5 % 10)
print(type(5+10))
```

In [ ]:
g

#String Formatting

format(): It takes an argument in string and that can be placed in a place holder in a string

For Example:
##Method 1:

```
age=10
txt="I am {} Years Old"
print(txt.format(age))
```
##Output

```
I am 10 Years Old
```
##Method 2:


```
age=10
txt= "I am {} Years Old".format(age)
print(txt)
```
##Output



```
I am 10 Years Old
```


##Method 3:


```
age=10
txt=f"I am {age} Years Old"
print(txt}
```
#Output


```
I am 10 Years Old
```

In [ ]:
item ="Product A"
price=9.99
quantity=20
print("Your order for {} number of items {} priced at {} is confirmed".format(item,price,quantity))

Your order for Product A number of items 9.99 priced at 20 is confirmed

In [ ]:
item ="Product A"
price=9.99
quantity=20
print(f"Your order for {item} number of items {quantity} priced at {price} per unit is confirmed, please pay {quantity*price} on or before the time of delivery")

Your order for Product A number of items 20 priced at 9.99 per unit is confirmed, please pay 199.8 on or before the time of delivery

##Printing Illegal Characters in a String


```
a="Dayanad "The Monster" is alive"
```
The above code gives error to handle this we can write



```
a="Dayanand \"The Monster" is alive"

```
###Or


```
a='Dayanand "The Monster" is alive'
```

##Comparison Operators



```
# This is formatted as code
>
>=
<
<=
==
!=

```

In [ ]:
a=int(input())
b=int(input())
c=int(input())
if (a>b and a>c):
  print("{} is greater".format(a))

elif (b>c and b>a):
  print("{} is greater".format(b))
else:
  print("{} is greater".format(c))

2
5
4
5 is greater

###Pass is a null place holder when you execute nothing will happen

#Loops

##Why do we use loops?
We are using loops to avoid wet codes i.e, to avoid duplicate codes
###WET stands for write everything twice
###DRY stands for do everything twice

##Two types of loops
###1. for loop
###2. while loop

#Collections
*   List
*   Set
*   Tuple
*   Dictionary

###**List:**
List is one of the 4 python collection, which is created by using squared braces '[]'. List is a collection of heterogeneous data where insertion order is present i,e. we can access the elements of the list by using indices. List also allows duplicates and are mutalbe .

##For Example

In [ ]:
list1=[1,2,3,4,"efa"]
list1.append(2)
list1.insert(3,43)
print(list1[::])
list1.extend(l1)

[1, 2, 3, 43, 4, 'efa', 2]

####By Ordered List we mean that elements of list can be swapped,added and removed

Swapping :

In [ ]:
l1=[12,34,5,534]
#Method 1
l1[0],l1[2]=l1[2],l1[0]
print(l1[::])
#Method 2
l1[0:3] = 34,12,5
print(l1[::])

[5, 34, 12, 534]
[34, 12, 5, 534]

#Adding Elements in the list

There are three methods


*   append()
*   insert()
*   extend()

In [ ]:
l2=[1,2,3,4,5,6,7]
l2.append(23)
print(l2[::])
l2.insert(4,"this is inserted Element")
print(l2[::])
l3=["s",'wefew','fwef']
l2.extend(l3)
print(l2[::])

[1, 2, 3, 4, 5, 6, 7, 23]
[1, 2, 3, 4, 'this is inserted Element', 5, 6, 7, 23]
[1, 2, 3, 4, 'this is inserted Element', 5, 6, 7, 23, 's', 'wefew', 'fwef']

#Removing Elements in a list

To remove elements for a list we have four methods


*   remove("element you want to remove")
*   pop()
*   del list_name[index_number]
*   clear()

In [ ]:
l2.remove("this is inserted Element")#--> to remove particular element
print(l2[::])
l2.pop(4)# --> to remove element in a particular index
print(l2[::])
l2.pop() #--> to remove the last element of list
print(l2[::])
del l2[2]  # --> used to remove element in a particular element using index but not recommended
print(l2[::])
del l2[::] #--> to remove lements in a given range
print(l2[::])
l2.clear()# --> This clears the entire list

[1, 2, 3, 4, 5, 6, 7, 23, 's', 'wefew', 'fwef']
[1, 2, 3, 4, 6, 7, 23, 's', 'wefew', 'fwef']
[1, 2, 3, 4, 6, 7, 23, 's', 'wefew']
[1, 2, 4, 6, 7, 23, 's', 'wefew']
[]

#Tuple
Tupte is one of the 4 python collection, which is created by using curved braces '()'. Tuple is a collection of heterogeneous data where insertion order is present i,e. we can access the elements of the tuple by using indices. tuple also allows duplicates the only difference betweenlist and tuple are that list is mutable wherer tuple is immutable i,e. we cannot change the values in a tuple once they are created.

##For Example

In [ ]:
#Tuple
a=(1,"223")
print(a)
print(type(a))
a=list(a)
print(a)
print(type(a))

(1, '223')
<class 'tuple'>
[1, '223']
<class 'list'>

When Should I use a list and when should I use a tuple?


*  Tuple is used in cases where data sould be protected and retained. i,e tuples are used when we dont want our data to be changed or manipulated .

*   List is used in a cases where data is changed or manipulated regularly.

#Set

Set is one of the 4 python collection, which is created by using curly braces
 '{}'. Tuple is a collection of heterogeneous data where insertion order is not present i,e. we cannot access the elements of the set by using indices. set donot allows duplicates. set is immutable i,e. we cannot change the values in a set once they are created, but we can add or remove items .

## For Example

In [ ]:
a={'dca','csdecs','sdvv'}
print(a)
print(type(a))

{'dca', 'sdvv', 'csdecs'}
<class 'set'>

Why Sets are very Faster than lists and tuples?

As we don't have any insertion order and cannot modify the set it takes very less memory which makes the sets faster than lists and tuples

#Adding elements in Set


*   add()
*   update()

In [ ]:
s1={1,2,3,4,5}
s1.add(6) #--> to add a certain element
print(s1)
a=[40,43,44]
s1.update(a)#--> to add a set or other collection
print(s1)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 40, 43, 44}

#Removing Elements in Set


*   List item
*   List item

In [ ]:
# s1.remove(2)#-->  to remove element
print(s1)
s1.discard(4)#--> same function but not recommended
print(s1)
s1.pop()#--> removes a random element
s1.clear()#--> removes elements form the set
print(s1)
del s1 #--> deletes the set

{1, 2, 3, 4, 5, 6, 40, 43, 44}
{1, 2, 3, 5, 6, 40, 43, 44}
set()

What is difference between remove() and discard()


What  is the main reason we use sets?

In [ ]:
s1={'a','b','c','d'}
s2={'c','d','e','f'}
print(s1.intersection(s2))
print(s2.intersection(s1))

{'c', 'd'}
{'c', 'd'}

#Dictionary

Dictionary is one of the 4 collections in python where we store elements as key value pairs. Dictionary is a collection which is orderd by keys and unordered by its values. we can store the duplicate values for keys, but it is not possible to have duplicate keys in a dictionary.




##For Example:

In [ ]:
d1={"name":"Python Programming","total_students":29,"Address":"Hyderabad"}

#displaying Dictionary elements
print(d1.keys()) #----> to access keys
print(d1.values()) #---> to access values
print(d1.items()) #--> to access both keys and values

dict_keys(['name', 'total_students', 'Address'])
dict_values(['Python Programming', 29, 'Hyderabad'])
dict_items([('name', 'Python Programming'), ('total_students', 29), ('Address', 'Hyderabad')])
3
Python Programming

In [ ]:
#length of dictionary

print(len(d1))

3

In [ ]:
#Accessing dictionary elements

print(d1.get("name"))
print(d1['name'])

Python Programming
Python Programming

In [ ]:
#changing the values of dictionary
d1['name']='JAVA'
print(d1.get('name'))
d1.update({'name':'c++'})
print(d1.get('name'))

JAVA
c++

In [ ]:
#adding new key,value pair

d1['time']='02:00:00'
print(d1)
d1.update({'new':"COBOL"})
print(d1)

{'name': 'c++', 'total_students': 29, 'Address': 'Hyderabad', 'time': '02:00:00'}
{'name': 'c++', 'total_students': 29, 'Address': 'Hyderabad', 'time': '02:00:00', 'new': 'COBOL'}

If the input keys are present in the dictionary the values get updates oterwise new keys will be added

In [ ]:
#Removing values
d1.pop('new')
print(d1)

del d1['time']
print(d1)

print(d1.clear())

{'name': 'c++', 'total_students': 29, 'Address': 'Hyderabad', 'time': '02:00:00'}
{'name': 'c++', 'total_students': 29, 'Address': 'Hyderabad'}
None

In [ ]:
d2={'name':['python','java']}
d2.update({'DOB':1991})
print(d2['name'][1])
d2['name'][1]='c++'
print(d2)

java
{'name': ['python', 'c++'], 'DOB': 1991}

In [ ]:
d2['name'].append('c#')
print(d2)

{'name': ['python', 'c++', 'c#'], 'DOB': 1991}

In [ ]:
#Working with loops in dictionary
print("Printing only keys")
for i in d2.keys():
  print(i)
print()
print("Printing only values")
for i in d2.values():
  print(i)
print()
print("printing both keys and values")
for i,j in d2.items():
  print(i,":",j)
print()
print("Printing both keys and values by ")
for i in d2.keys():
  print('{} : {}'.format(i,d2[i]))

Printing only keys
name
DOB

Printing only values
['python', 'c++', 'c#']
1991

printing both keys and values
name : ['python', 'c++', 'c#']
DOB : 1991

Printing both keys and values
name : ['python', 'c++', 'c#']
DOB : 1991

#Functions

##What is function?
Function is a block of code which can be used whenever or where ever required. which reduces the repetion of code which saves time and memory

#Creating And dealing with functions

In [ ]:
#Function without Parameter
def fun1():
  print("This is the first function")
  print('=================')
fun1()
print()
print()

#Function with Parameter
def fun2(name,age):
  print(f'his name is {name} and age is {age}')

fun2('Shyam',21)
print()
print()

This is the first function
=================


his name is Shyam and age is 21

###Paramenter :
 the variables that are defined when we create a function are called parameters

###Argument:

the value that is assigned to variables when we call a function are called arguments.


**Parameters and functions are used for passing some information when we declare the function.**

#Types of Parameters


*   Default Parameters
*   Keyword Parameters
*   Positional Parameters

In [ ]:
def f3(name="user"):#--> default Parameter
  print("My name is {}".format(name))
f3()
f3('Shyam')
print(2*'\n')

My name is user
My name is Shyam

In [ ]:
#when we dont know how many arguments to pass
#--> arbitary arguments (*args)
def fun4(*name):
  print(f'Hello {name}')
fun4('pyhton','java','c')

Hello ('pyhton', 'java', 'c')

In [ ]:
#when we dont know how many parameters while declaring function
#--> arbitary keywords (**kwargs)
#default data type is dictionary

def fun5(**name):
  print(name)
fun5(Name="python",Location="address")

{'Name': 'python', 'Location': 'address'}

#Return Keyword

Return statement is used for i

In [ ]:
#create a sum function
def sum(n1,n2):
  return n1+n2
n1=int(input())
n2=int(input())
print(f"Sum of {n1} and {n2} is {sum(n1,n2)}")

6
7
Sum of 6 and 7 is 13

In [ ]:
#create functions for arithmetic operations
#Subtraction function
def sub(n1,n2):
  return n1-n2
n1=int(input())
n2=int(input())
print(f"Subtraction of {n1} and {n2} is {sub(n1,n2)}")

6
7
Subtraction of 6 and 7 is -1

In [ ]:
#Multiplication function
def mul(n1,n2):
  return n1*n2
n1=int(input())
n2=int(input())
print(f"Product of {n1} and {n2} is {mul(n1,n2)}")

6
7
Product of 6 and 7 is 42

In [ ]:
#Division Function
def div(n1,n2):
  return n1/n2
n1=int(input())
n2=int(input())
print(f"Quotient of {n1} and {n2} is {div(n1,n2)}")

7
6
Quotient of 7 and 6 is 1.1666666666666667

In [ ]:
#Exponential Function
def power(n1,n2):
  return n1**n2
n1=int(input())
n2=int(input())
print(f"Power of {n1} and {n2} is {power(n1,n2)}")

6
7
Power of 6 and 7 is 279936

In [ ]:
#Floor Division Function
def fld(n1,n2):
  return n1//n2
n1=int(input())
n2=int(input())
print(f"Floor Division of {n1} and {n2} is {sub(n1,n2)}")

7
6
Floor Division of 7 and 6 is 1

In [ ]:
#create a function for calculating sum of range of numbers

def sum_range(n):
  total=0
  for i in range(1,n+1):
    total+=i
  return total
n=int(input())
print(sum_range(n))

7
28

#List Comprehension

List Comprehension is a method to create a new list by using an existing list. for loop

##For Example:

In [ ]:
l1=['apple','banana','cherry','kiwi','orange']
l=[i for i in l1 if 'a' in i]
print(l)
l2=[i for i in l1 if "i" in i]
print(l2)

l3=[i for i in l1 if 'banana' not in i]
print(l3)

l4=[i for i in range(21)]
print(l4)

l5=[]
for i in range(21):
  l5.append(i)
print(l5)

['apple', 'banana', 'orange']
['kiwi']
['apple', 'cherry', 'kiwi', 'orange']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
even_list=[i for i in range(101) if i%2==0]
odd_list=[i for i in range(100) if i%2!=0]
print(even_list)
print(odd_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

#### Why do we prefer List Comprehension when we have loops?

List Comprehension is faster when compared to loops

In [ ]:
mul_2=[i*2 for i in range(1,10) ]
print(mul_2)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

#Lambda Functions

Lambda fucntions are the functions which doesnot have any name. Lambda is an anonumous fucntion which have many arguments and a single expression

Syntax:


```
lambda arguments : expression
```
expression:- if some statements or calculations or steps using many values to give the single value is called expression

In [ ]:
x = lambda a : a+ 10
print(x(5))

15

In [ ]:
func= lambda x,y,z : x+y+z
print(func(1,3,5))

9

In [ ]:
cube= lambda x : x**3
print(cube(5))

125

In [ ]:
def power(n):
  return lambda a : a ** n
square = power(2)
cube = power(3)
print(square(5))
print(cube(4))

print(type(power(5)))

25
64
<class 'function'>

#Local variable and Global Variable

local variable is a temporary variable whose scope will be over once we are out from that block of code where it was decalred.


Global variable is a permanent variable whose lifetime will be through out the program.

#What is map()?

What does maps do?
-> it uses a function on iterables. it take functions and run it over the iterables (Iterables are npthing but collection)

#What is function?
functiond are the first calss objects which means one function can act as argument for another

In [ ]:
fruit = ['apples','banana','cherry','kiwi','mango']
l2=[len(i) for i in fruit]
print(l2)

length = list(map(len ,fruit))
print(type(length))

[6, 6, 6, 4, 5]
<class 'map'>

In [ ]:
def fi(x):
  return 'hello'+" "+x
fruit=['apple']
new = list(map(fi,fruit))
print(new)

['hello apple']

In [ ]:
user=input().split()
print(user)
print(type(user))
lq=[int(i) for i in user]
print(lq)
ll=list(map(int,user))
print(ll)

1 4 5 6 3 2
['1', '4', '5', '6', '3', '2']
<class 'list'>
[1, 4, 5, 6, 3, 2]
[1, 4, 5, 6, 3, 2]

In [ ]:
user=input().split()
ans=tuple(map(lambda a : a**2,ll))
print(type(ans[0]))
print(type(ans))
print(ans)

10
<class 'int'>
<class 'tuple'>
(1, 16, 25, 36, 9, 4)

In [ ]:
n=5
num=1
for i in range(1,n+1):
  num=num*i
print(num)

def fact(n):
  if n>1:
    return n*fact(n-1)
  else:
    return 1
print(fact(5))

120
120

In [ ]:
word1='abc'
word2='pqr'
if len(word1)==len(word2):
  for i in range(len(word1)):
    print(f'{word1[i]}{word2[i]}',end="")
elif len(word1)>len(word2):
    for i in range(len(word2)):
      print(f'{word1[i]}{word2[i]}',end="")
    print(f'{word1[len(word2)::]}',end="")
elif len(word1)<len(word2):
    for i in range(len(word1)):
      print(f'{word1[i]}{word2[i]}',end="")
    print(f'{word2[len(word1)::]}',end="")

apbqcr

In [ ]:
print(round(2.50))

2

# Filter():

filter function is used remove unecessary information and maintain only required information



The difference between map and filter is map returns true or false values based on the condition where filter returns the value if the given condition is true.

Syntax : filter(function,iterables)

In [10]:
age=[12,15,16,18,45,21,18,17,56,23,35,15,8,10]
l=[x>=18 for x in age]
# print(l)
def adult(x):
  if x>=18:
    return True
  else:
    return False
res1=map(adult,age)
res=list(filter(adult,age))
print(res)
print(list(res1))

[18, 45, 21, 18, 56, 23, 35]
[False, False, False, True, True, True, True, False, True, True, True, False, False, False]

Filter function filters all your original collections which meets the given conditions. i,e. it returns all the value that comes out to be true or false , any value that comes out to be true it will be stores as a list of items

In [11]:
age=[12,15,16,18,45,21,18,17,56,23,35,15,8,10]
l=[x>=18 for x in age]
# print(l)
def adult(x):
  if x>=18:
    return True
res1=map(adult,age)
res=list(filter(adult,age))
print(res)
print(list(res1))

[18, 45, 21, 18, 56, 23, 35]
[None, None, None, True, True, True, True, None, True, True, True, None, None, None]

In [13]:
age=[12,15,16,18,45,21,18,17,56,23,35,15,8,10]
l=[x>=18 for x in age]
# print(l)
def adult(x):
    return x>=18
res1=map(adult,age)
res=list(filter(adult,age))
print(res)
print(list(res1))

[18, 45, 21, 18, 56, 23, 35]
[False, False, False, True, True, True, True, False, True, True, True, False, False, False]

In [14]:
#if you have a function that have a one statement don't you use the def function what will you use?

In [31]:
a=lambda x : x>=18
print(list(filter(a,age)))
print(list(filter(lambda x:x>=18 and x<=30,age)))
print(list(filter(lambda x: x in range(18,30),age)))
print(list(filter(lambda x:18<= x<=30,age)))
m=list(filter(lambda x:x>=18 and x<=30,age))
m.sort()
m.sort(reverse=True)
print(m)

[18, 45, 21, 18, 56, 23, 35]
[18, 21, 18, 23]
[18, 21, 18, 23]
[18, 21, 18, 23]
[23, 21, 18, 18]

In [32]:

x='Hello'
print(dir(x))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

#OPPs in Python

#Classes and Objects

Why do we create classes and objects